@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
	 html {
		 
		 font-size: 110%;
	 }
}
	
@media only screen and (min-width: 90em) {
	 html {
		 
		 font-size: 120%;
	 }
}
	
@media only screen and (min-width: 120em) {
	 html {
		 
		 font-size: 130%;
	 }
}

.billboard {
    overflow: hidden;
    background-color: darkgrey;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 2em;
}


a:hover,
a:active {
  outline: none;
  color: #fff;	
}

a,
a:link,
a:visited {
  color: #50EBEC;	
}

a:focus {
  outline: 3px solid #000;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  padding: 0.5em 0.75em;
  position: absolute;
  top: -3em;
  background-color: #A8A8A8 ;
  color: #000;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.copyright-footer {
	text-align: left;
}

.top,
.top:link,
.top:visited {
    text-decoration: none;
    color: grey;
    text-align: right;
} 

.nav {
  padding: 0;
}

.nav li {
    display: block;
    text-align: center;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
  color: #fff;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
  background-color: #50EBEC;
  color:#262626;
}

img {
   display: block;
   width: 100%;
}

.footer{ 
	overflow: hidden;
	margin: 0; 
	padding: 0;
	background-color: #262626;
}

.copyright{ 
	font-weight: 400;
	overflow: hidden;
	color: #fff;
}

.header { 
	background-color: #262626;
	color: #50EBEC;
	margin: 0; 
    padding: 0; 
	overflow: hidden;
}

.smallicon {
	width:90px; 
	height:90px;
	margin-left: auto;
    margin-right: auto;	
}

.figure {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0em; 
  position: relative;
}

.title {
    top: 40px; 
    left: 0; 
    width: 100%; 
    color: #50EBEC;
	text-align: center;
}

.signup {  
	cursor: pointer;
	text-align: center;
}


.box,
.box:link, 
.box:visited
{ 
	font-size: 1.5em;
	color: #fff;
	background-color: #363636;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	text-align: center;
	position: absolute; 
    top: 170px; 	
	left: 50%;
	transform: translateX(-50%);
	text-decoration: none;
}

.caps {
    text-transform:capitalize;
}

body {
    margin: 0;
}

h2 { 
	text-align: center;
	color: #363636; 
}

.info { 
	color: #A1A1A1; 
	text-align: center;
}

.about { 
	color: #A1A1A1; 
	text-align: center;
}

.buttonbox {
    text-align: center;
}

.button {
    background-color: white;
    font-size: 0.8em;
    border-color: #d0d0d0;
    border-bottom-style: double;
    margin-bottom: 2rem;
}

.subhead {
    color: #fff;
    padding-top: 0;
}

.figcap { 
 	color: #A8A8A8;
 	text-align: center;
}

.figcaps { 
 	color: #363636;
 	text-align: center;
	float: inherit;
}

.logo {
    width: 25%;
    height: auto;
    margin: .5rem auto;
    position: static;
    padding: .5rem;
}

h3 { 
	color:#00C5CD;
	text-align: center;
}

.blue { 
	background-color: #50EBEC;
	color: #fff;
    text-align: center;
}

.icon { 
	width:150px; 
	height:150px;
	margin-left: auto;
    margin-right: auto;
}

.started {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    background-color: #50EBEC;
    margin: 0;
}

.dark {
        background-color: #DEDEDE;
    }

@media only screen and (min-width: 30em) { 
    
	 .nav { 
			text-align: center;
		 	padding: 0;
		} 

	 .nav li { 
			display:inline-block; 
	}
	
	.footer { 
			text-align: center;
	}
	
}

 
@media only screen and (min-width: 40em) { 
     .nav { 
			text-align: center;
	  		padding: 0;
		} 
	
	 .nav li { 
		text-align:center;
	}
	
	.copyright { 
		text-align: left;
	}
	
	.footer { 
		text-align: right;	
	}
	
	.slogan { 
		position: absolute; 
		top: 100px; 
		left: 0; 
		width: 100%; 
		color: #50EBEC;
		text-align: center;
		font-size: 1.8020rem;
		line-height: 1.6648;
    } 
	
	.about { 
		color: #A1A1A1; 
		margin-left: 7em;
		margin-right: 7em;
    }
}

 
@media only screen and (min-width: 60em) { 

	
	.copyright { 
		text-align: left;
	}

	.footer { 
		text-align: right;	
	
	}
	.about { 
		color: #A1A1A1; 
		margin-left: 7em;
		margin-right: 7em;
    }
}