@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:after, *:before {
    box-sizing: inherit;
}

.flex {
    display: block;
    width: 100%;
}

.color {
    background-color: grey;
}

.buttonbox {
    text-align: center;
}

.ul {
    margin: 0;
}

button {
    background-color: white;
    font-size: 0.8em;
    border: 0.5em;
    border-color: #d0d0d0;
}

.sign {
    text-align: center;
    cursor: pointer;
}

.social {
    overflow: hidden;
    margin: 0;
    padding: 0 5%;
    position: static;
}

.row {
    width;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;
}

.orbit-container {
    overflow: hidden;
    width: 100%;
    position: relative;
    background: none;
}

.orbit-container 
.orbit-slides-container {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-transform: translateZ(0);
}
    
.header {
    background-color: black;
    overflow: hidden;
}

.billboard {
    overflow: hidden;
    background-image: url(../images/videoroom.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.footer {
    background-color: black;
    font-weight: 400;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: block;
    color: #50EBEC;
    text-decoration: none;  
}

.clickaway {
    background-color: #e2e2e2;
}

.nav a:hover,
.nav a:focus,
.nav a:active 
.nav .navcurrent,
.nav .nav-current:link,
.nav .nav-current:visited {
    background-color: grey;
    color: #fff;
    outline: 1px dotted #000;
}

.nav {
    padding: 0;
    color: #0074D9;
    list-style: none;
}

.figcap {
    text-align: center;
}

.figure {
    text-align: center;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

.logo {
    width: 25%;
    height: auto;
    margin: .5rem auto;
    position: static;
    padding: .5rem;
}

.title { 
    color: #fff;
}

.subhead {
    color: #fff;
}

h3 {
    font-size: 3.8rem;
    font-weight: 300;
    margin-top: 50px;
    line-height: 1.1;
    letter-spacing: -0.5px;
    text-align: center;
}

.button {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    font-family: sans-serif;
}

.div {
    display: block;
}

.icon { 
    height:100px;
    
}

@media only screen and (min-width: 25em) {
    
    nav li {
        display: inline-block;
    }
    
    nav { 
        text-align: center;
    }
    
}

@media only screen and (min-width: 38em) {
    
    nav li {
        display: inline-block;
    }
    
    nav { 
        text-align: center;
    }
    
    .title {
        text-align: left;
    }
    
    .footer {
        text-align: right;
    }
        
    .copyright {
        text-align: left;
    }
    
}

@media only screen and (min-width: 60em) {
    
        dl {
        overflow: hidden;
    }
        dt {
        float: left;
        clear: left;
        width: 8rem;
    }

        dd {
            float: left;
            margin: 0;
            padding: 0;
        }
        
}

