@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
	 html {
		 
		 font-size: 110%;
	 }
}
	
@media only screen and (min-width: 90em) {
	 html {
		 
		 font-size: 120%;
	 }
}
	
@media only screen and (min-width: 120em) {
	 html {
		 
		 font-size: 130%;
	 }
}

.billboard {
    overflow: hidden;
    background-color: #DEDEDE;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 3em;
    padding-bottom: 3em;
    margin: 0;
}

.header{
    text-shadow: 1px 1px #000; 
    color:#fff;
    line-height:100px;
    font-family:Montserrat;
    font-size:2em;
    background-color:#019fc2;
    top:0;
    width:100%;
}

.buttonbox {
    text-align: center;
    padding: 0;
    margin: 0;
}

button {
    padding:15px;
    color:#fff;
    background-color: #fff;
    font-size:13pt;
    border: 0px solid rgba(0, 0, 0, 0);
    border-bottom:2px solid #A8A8A8;
    -webkit-transition-timing-function: ease;
    transition: width .5s, height .5s, transform .5s;
    -moz-webkit-transform: scale(1,1);
    transform: scale(1,1);
}

button:hover {
    -webkit-transition-timing-function: ease;
    -ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    transition: width .2s, height .2s, transform .2s;
}

a:hover,
a:active {
  outline: none;
  color: #fff;	
}

a,
a:link,
a:visited {
    color: #50EBEC;
    text-decoration: none;
}

a:focus {
  outline: 3px solid #000;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  padding: 0.5em 0.75em;
  position: absolute;
  top: -3em;
  background-color: #A8A8A8 ;
  color: #000;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.copyright-footer {
	text-align: left;
    color: #fff;
}

.top,
.top:link,
.top:visited {
    text-decoration: none;
    color: #fff;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
} 

.nav {
  padding: 0;
}

.nav li {
    display: block;
    text-align: center;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: block;
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
  background-color: #50EBEC;
  color:#262626;
}

img {
   display: block;
   width: 100%;
}

.footer{ 
	overflow: hidden;
	margin: 0; 
	padding: 0;
	background-color: #262626;
}

.copyright{ 
	font-weight: 400;
	overflow: hidden;
	color: #fff;
}

.header { 
	background-color: #262626;
	color: #50EBEC;
	margin: 0; 
    padding: 0; 
	overflow: hidden;
}

.thanks {
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}

.figure {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0; 
  position: relative;
}

.title {
    top: 40px; 
    left: 0; 
    width: 100%; 
    color: #50EBEC;
	text-align: center;
}

.signup {  
	cursor: pointer;
	text-align: center;
}

.box,
.box:link, 
.box:visited { 
	font-size: 1.5em;
	color: #fff;
	background-color: #363636;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	text-align: center;
	position: absolute; 
    top: 170px; 	
	left: 50%;
	transform: translateX(-50%);
	text-decoration: none;
}

.caps {
    text-transform:capitalize;
}

body {
    margin: 0;
}

h2 { 
	text-align: center;
	color: #363636; 
}

.info { 
	color: #A1A1A1; 
	text-align: center;
}

.about { 
	color: #A1A1A1; 
	text-align: center;
}

.gradient {
    background: rgba(242,246,248,1);
    background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(50%, rgba(216,225,231,1)), color-stop(51%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
    background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
}

.subhead {
    color: #fff;
    padding-top: 0;
}

.figcap { 
 	color: #A8A8A8;
 	text-align: center;
}

.figcaps { 
 	color: #363636;
 	text-align: center;
	float: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

.intro {
    background-color: #F0FFFF;
    margin: 0;
}

.awesome {
    padding: 0;
    margin: 0;
}

.logo {
    width: 20%;
    height: auto;
    margin: .5rem auto;
    position: static;
    padding: .5rem;
}

h3 { 
	color:#00C5CD;
	text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.blue { 
	background-color: #50EBEC;
	color: #fff;
    text-align: center;
}

.icon { 
	width:150px; 
	height:150px;
	margin-left: auto;
    margin-right: auto;
}

.started {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    background-color: #262626;
    margin: 0;
}

.dark {
    background-color: #363636;
    }

.table-outer {
  overflow-x: auto;
}

.table-inner {
  margin: 0 auto;
  max-width: 20em;
  min-width: 10em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
  text-align: center;
  background-color:#50EBEC ;
  font-size: 1em;	
  color: ##50EBEC;	
  border-bottom: solid 1px #fff;
}

thead th {
  background-color: #303030;
  color: #fff;	
  font-size: 1.75em;
  border: none;	
}

.price { 
	font-size: 1.75em;
	border: none;
}

@media only screen and (min-width: 30em) { 
    
	 .nav { 
			text-align: center;
		 	padding: 0;
		} 

	 .nav li { 
			display:inline-block; 
	}
	
	.footer { 
			text-align: center;
	}
	
}

 
@media only screen and (min-width: 40em) { 
     .nav { 
			text-align: center;
	  		padding: 0;
		} 
	
	 .nav li { 
		text-align:center;
	}
	
	.copyright { 
		text-align: left;
	}
	
	.footer { 
		text-align: right;	
	}
	
	.slogan { 
		position: absolute; 
		top: 100px; 
		left: 0; 
		width: 100%; 
		color: #50EBEC;
		text-align: center;
		font-size: 1.8020rem;
		line-height: 1.6648;
    } 
	
	.about { 
		color: #A1A1A1; 
		margin-left: 7em;
		margin-right: 7em;
    }
}

 
@media only screen and (min-width: 60em) { 

	
	.copyright { 
		text-align: left;
	}

	.footer { 
		text-align: right;	
	
	}
	.about { 
		color: #A1A1A1; 
		margin-left: 7em;
		margin-right: 7em;
    }
}