@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
	 html {
		  font-size: 110%;
	 }
}
	
@media only screen and (min-width: 90em) {
	 html {
		 font-size: 120%;
	 }
}
	
@media only screen and (min-width: 120em) {
	 html { 
		 font-size: 130%;
	 }
}

.billboard {
    overflow: hidden;
    background-image: url(../images/cameralens.jpg);
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-bottom: 7rem;
}

.header{
    text-shadow: 1px 1px #000; 
    color:#fff;
    line-height:100px;
    font-family:Montserrat;
    font-size:2em;
    background-color:#019fc2;
    width:100%;
    padding: 2rem;
}

a:hover,
a:active {
  outline: none;
  color: #fff;	
}

a,
a:link,
a:visited {
    color: #50EBEC;
    text-decoration: none;
}

a:focus {
  outline: 3px solid #000;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  padding: 0.5em 0.75em;
  position: absolute;
  top: -3em;
  background-color: #A8A8A8 ;
  color: #000;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.copyright-footer {
	text-align: left;
    color: #fff;
}

.top,
.top:link,
.top:visited {
    text-decoration: none;
    color: #fff;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
} 

.nav {
    padding: 0;
}

.nav li {
    display: block;
    text-align: center;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: block;
    color: #fff;
    text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
    background-color: #50EBEC;
    padding: .5rem;
}

img {
   display: block;
   width: 100%;
}

.footer{ 
	overflow: hidden;
	margin: 0; 
	padding: 0;
	background-color: #262626;
}

.copyright{ 
	font-weight: 400;
	overflow: hidden;
	color: #fff;
}

.header { 
	background-color: #262626;
	color: #50EBEC;
	margin: 0; 
    padding: 0; 
	overflow: hidden;
}

.thanks {
    padding-top: 12rem;
    padding-bottom: 8rem;
    text-align: center;
}

.figure {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0; 
  position: relative;
}

.title {
    top: 40px; 
    left: 0; 
    width: 100%; 
    color: #50EBEC;
	text-align: center;
}

.signup {  
	cursor: pointer;
	text-align: center;
}

body {
    margin: 0;
}

h2 { 
	text-align: center; 
    font-family: 'Open Sans', sans-serif;
}

.info { 
	color: #363636; 
	text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.about { 
	color: #A1A1A1; 
	text-align: center;
}

.subhead {
    color: #363636;
    font-family: 'Open Sans', sans-serif;
}

.figcap { 
 	color: #A8A8A8;
 	text-align: center;
}

.figcaps { 
 	color: #363636;
 	text-align: center;
	float: inherit;
    font-family: 'Open Sans', sans-serif;
}

.intro {
    background-color: #F0FFFF;
    margin: 0;
}

.awesome {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: 0;
}

.btn {
    position: relative;
    display: block;
    width: 150px;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #F0FFFF;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transform-style: flat;
    transition: all 250ms ease-out;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    width: 20%;
    height: auto;
    margin: .5rem auto;
    position: static;
    padding: .5rem;
}

h3 { 
	color:#00C5CD;
	text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.blue { 
	background-color: #50EBEC;
	color: #fff;
    text-align: center;
}

.icon { 
	width:150px; 
	height:150px;
	margin-left: auto;
    margin-right: auto;
}

.started {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #50EBEC;
    margin: 0;
}

.dark {
    background-color: #363636;
}

.table-outer {
    overflow-x: auto;
}

.table-inner {
    margin: 0 auto;
    max-width: 20em;
    min-width: 10em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 0.5rem;
    text-align: center;
    background-color:#50EBEC ;
    font-size: 1em;	
    border-bottom: solid 1px #fff;
}

thead th {
    background-color: #303030;
    color: #fff;	
    font-size: 1.75em;
    border: none;	
}

.price { 
	font-size: 2em;
	border: none;
}

.spacing {
    padding: 2rem;
}

@media only screen and (min-width: 30em) { 
    
	 .nav { 
			text-align: center;
		 	padding: 0;
		} 

	 .nav li { 
			display:inline-block; 
	}
	
	.footer { 
			text-align: center;
	}
    
    .spacing {
        padding: 0;
    }
    
    .logo {
        width: 10%;
        padding: 0;
    }
}

@media only screen and (min-width: 40em) { 
     .nav { 
			text-align: center;
	  		padding: 0;
		} 
	
	 .nav li { 
		text-align:center;
	}
	
	.copyright { 
		text-align: left;
	}
	
	.footer { 
		text-align: right;	
	}
	
	.slogan { 
		position: absolute; 
		top: 100px; 
		left: 0; 
		width: 100%; 
		color: #50EBEC;
		text-align: center;
		font-size: 1.8020rem;
		line-height: 1.6648;
    } 
	
	.about { 
		color: #A1A1A1; 
		margin-left: 7em;
		margin-right: 7em;
    }
    
    .logo {
        width: 15%;
    }
}

 
@media only screen and (min-width: 60em) { 
	
	.copyright { 
		text-align: left;
	}

	.footer { 
		text-align: right;	
	
	}
	.about { 
		color: #A1A1A1; 
		margin-left: 7em;
		margin-right: 7em;
    }
    
    .logo {
        width: 10%;
    }
    
    .thanks {
        padding-top: 8rem;
        padding-bottom: 5rem;
        text-align: center;
    }
}