@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.header {
    background-color: #50EBEC;
    overflow: hidden;
}

.footer {
    background-color: #50EBEC;
    font-weight: 400;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: block;
    color: #0074D9;
    text-decoration: none;  
}

.nav a:hover,
.nav a:focus,
.nav a:active 
.nav .navcurrent,
.nav .nav-current:link,
.nav .nav-current:visited {
    background-color: #93FFE8;
    color: #fff;
    outline: 1px dotted #000;
}

.nav {
    padding: 0;
    color: #0074D9;
    list-style: none;
}

@media only screen and (min-width: 25em) {
    
    nav li {
        display: inline-block;
    }
    
    nav { 
        text-align: center;
    }
    
}

@media only screen and (min-width: 38em) {
    
    nav li {
        display: inline-block;
    }
    
    nav { 
        text-align: center;
    }
    
    .title {
        text-align: left;
    }
    
    .footer {
        text-align: right;
    }
        
    .copyright {
        text-align: left;
    }
    
}

@media only screen and (min-width: 60em) {
    
        dl {
        overflow: hidden;
    }
        dt {
        float: left;
        clear: left;
        width: 8rem;
    }

        dd {
            float: left;
            margin: 0;
            padding: 0;
        }
        
}

