@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
	 html {
		 
		 font-size: 110%;
	 }
}
	
@media only screen and (min-width: 90em) {
	 html {
		 
		 font-size: 120%;
	 }
}
	
@media only screen and (min-width: 120em) {
	 html {
		 font-size: 130%;
	 }
}

body,
input,
textarea,
select {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #4c4c4c;
}

.button {
    border-top: 1px solid #A8A8A8;
    background: #4C4C4C;
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    border-top-color: #CBC9CC;
    background: #A8A8A8;
    color: #fff;
}

.footer{ 
	overflow: hidden;
	margin: 0; 
	padding: 0;
	background-color: #262626;
}

p {
    font-size: 12px;
    width: 200px;
    display: inline-block;
    margin-left: 18px;
}

h1 {
    font-size: 32px;
    font-weight: 300;
    color: #4c4c4c;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}

input[type=radio] {
    visibility: hidden;
}

.dark {
    background-color: #363636;
}

form{
    margin: 0 50px;
}

label.radio {
	cursor: pointer;
    text-indent: 35px;
    overflow: visible;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
}

label.radio:before {
    position: absolute;
    top:2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

label.radio:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 0.5em;
	height: 0.25em;
	top: 7.5px;
	left: 4.5px;
	border: 3px solid #50EBEC;
	border-top: none;
	border-right: none;
    -webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

input[type=radio]:checked + label:after {
	opacity: 10;
}

hr{
    color: #a9a9a9;
    opacity: 0.2;
}

.copyright-footer {
	text-align: left;
    color: #fff;
}

input[type=text],input[type=password]{
    width: 200px; 
    height: 39px; 
    -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
    -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
    border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
    background-color: #fff; 
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    border: solid 1px #cbc9c9;
    margin-left: -5px;
    margin-top: 13px; 
    padding-left: 10px;
}

input[type=password]{
    margin-bottom: 25px;
}

.gender {
    margin-left: 30px;
    margin-bottom: 10px;
}

.accounttype {
    margin-left: 8px;
    margin-top: 20px;
}

.nav-current {
    background-color: #50EBEC;
    padding: .5rem;
}

.box {
    text-align: center;
    background-color: #fff;
    font-size: 1em;	
    border-bottom: solid 1px #fff;
    padding-bottom: 5rem;
}

@media only screen and (min-width: 40em) { 
    
	 .nav { 
			text-align: center;
		 	padding: 0;
		} 

	 .nav li { 
			display:inline-block; 
	}
	
	.footer { 
			text-align: center;
	}
    
	.space {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media only screen and (min-width: 60em) {
    html {
		 font-size: 110%; 
    }
    
    .space {
        padding-left: 20rem;
        padding-right: 20rem;
    }
}
	
@media only screen and (min-width: 90em) {
	 html {
		  font-size: 120%;
	 }
    
    .space {
        padding-left: 25rem;
        padding-right: 25rem;
    }
}
	
@media only screen and (min-width: 120em) {
	 html {
		 
		 font-size: 130%;
	 }
    
    .space {
        padding-left: 30rem;
        padding-right: 30rem;
    }
}